{% extends "index.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>{{ board_.name }}</title>
<div class="d-flex justify-content-between mb-4">
    <span class="font-custom m-1">{{ board_.name }}</span>
    <div>
        <a class="btn-custom" data-bs-toggle="modal" data-bs-target="#addTask"><i class="bi bi-plus-lg"></i> add new task</a>
        <a class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" data-bs-target="#optionBoard"></a>
        <div class="dropdown-menu text-center" id="optionBoard">
            <a class="font-custom text-danger" href="{{ url_for('delete_board', id_=board_.id) }}">delete</a>
        </div>
    </div>
</div>

<div class="modal" id="addTask">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            {{ macros.task_create_form(board_) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <p class="font-custom text-center"><i class="bi bi-circle-fill text-warning"></i> todo ({{ board_.get_todo().count() }})</p>
        {% for i in board_.get_todo() %}
        {{ macros.task_card(i) }}
        {% endfor %}
    </div>
    <div class="col-4">
        <p class="font-custom text-center"><i class="bi bi-circle-fill text-primary"></i> doing ({{ board_.get_doing().count() }})</p>
        {% for i in board_.get_doing() %}
        {{ macros.task_card(i) }}
        {% endfor %}
    </div>
    <div class="col-4">
        <p class="font-custom text-center"><i class="bi bi-circle-fill text-success"></i> done ({{ board_.get_done().count() }})</p>
        {% for i in board_.get_done() %}
        {{ macros.task_card(i) }}
        {% endfor %}
    </div>
</div>
{% endblock %}